.h1-header {
    text-align: center;
    color: orangered;
}

body {
    text-align: center;
    background-color: lightyellow;
}

.image {
    background-image: url("https://images.pexels.com/photos/2802527/pexels-photo-2802527.jpeg?auto=compress&cs=tinysrgb&w=1560&h=350&dpr=1");
    background-repeat: no-repeat;
    background-position: right;
}

.chili-image {
    max-width: 550px;
    max-height: 550px;
}

.sweet-chili {
    text-align-all: left;
}

.beef-chili {
    text-align-all: center;
}

.bean-chili {
    text-align-all: right;
}