.logo-img{
    margin-right: 1em;
    height: 105px;
    width: 105px;
}

nav {
    background-color: #F0F0F0;
}

.navbar-brand{
    margin-right: 2em;
    font-size: 28px;
}

body {
    font-family: Abel;
    background-color: #F0F0F0;
}

h1 {
    text-align: center;
    font-family: Anton;
    margin-top: 50px;
    font-size: 62px;
}

h2 {
    text-align: center;
    font-family: Anton;
}

.button {
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    margin: 0 14px;
    border: 8px solid white;
    color: white;
    border-radius: 105px;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.button1 {
    background-color: #E6563B;
}

.button2 {
    background-color: #EB9D3A;
}

.button3 {
    background-color: #7CB06C;
}

.button4 {
    background-color: #00ABA9;
}

.button-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em 0;
}

.btn-top {
    margin: 3px;
}

.btn-btm {
    margin: 3px;
}

hr {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
}

.column {
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-img {
    width: 21em;
    height: 15em;
    border: 7px solid #E6E6E6;
}

.button-sm {
    font-family: Anton;
    border: none;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 12px;
    border-radius: 105px;
    width: 18px;
    height: 18px;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
}

.btn-sm-row {
    display: flex;
    justify-content: flex-end;
}

.b1 {
    background-color: #E6563B;
}

.b2 {
    background-color: #EB9D3A;
}

.b3 {
    background-color: #7CB06C;
}

.b4 {
    background-color: #00ABA9;
}

.featured-text {
    text-align: left;
}

.image-sm {
    border: 4px solid #E6E6E6;
    border-radius: 5px;
}

.text {
    font-family: Anton;
    font-size: 22px;
}

footer {
    margin-top: 120px;
}