@media screen and (min-width: 391px) {
    body {
        margin: 10px 15px;
    }

    body > div > a {
        content-visibility: hidden;
    }

    nav {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        margin-top: 20px;
        margin-right: 2px;
    }

    h1 {
        display: flex;
        float: left;
        justify-content: flex-start;
        width: 25%;
        margin-right: 150px;
        margin-bottom: 55px;
    }

    ul {
        display: flex;
        justify-content: flex-end;
        float: right;
    }

    li {
        list-style-type: none;
        padding-left: 15px;
    }

    a {
        display: inline-block;
    }

    div>img {
        width: 100%
    }

    .main {
        float: left;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 60%;
        margin-right: 5px;
    }

    .sub-section {
        float: right;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 35%;
        font-style: italic;
    }

    footer {
        clear: left;
        margin-top: 350px;
    }

}

@media screen and (max-width: 390px) {
    body {
        font-family: Arial;
        margin: 10px 15px;
    }

    h1 {
        display: flex;
        justify-content: center;
        font-size: 46px;
        margin-top: 5px;
        margin-bottom: 8px;
        width: 100%;
    }

    nav {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    nav>ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 45px;
        width: 100%;
    }

    nav>ul>li>a {
        display: flex;
        align-items: center;
    }

    li {
        background: lightgray;
        display: flex;
        justify-content: center;
        margin-top: 7px;
        margin-bottom: 7px;
        margin-left: 5px;
        max-height: 50px;
        min-height: 25px;
        padding: 10px 0;
        width: 130%;
    }

    .hidden-on-desktop {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #c7fafa;
        border: 0.1em solid lightgray;
        height: 50px;
        width: 100%;
    }

    body>div>a {
        text-decoration: none;
        color: black;
    }

    div>img {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 224px;
    }

    .sub-section {
        font-style: italic;
        margin-top: 50px;
    }

    footer {
        text-align: start;
        margin-top: 100px;
    }

}