@media screen and (max-width: 364px) and (max-height: 937px) {
    body {
        font-family: Arial;
        margin-left: 10px;
    }

    h1 {
        font-size: 46px;
        margin-top: 2px;
        display: flex;
        justify-content: center;
    }

    nav>ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: -45px;
        margin-top: -15px;
    }

    nav>ul>li>a {
        display: flex;
        align-items: center;
    }

    li {
        background: lightgray;
        padding: 10px;
        display: flex;
        justify-content: center;
        margin: 7px 7px;
        width: 319px;
        max-height: 50px;
        min-height: 25px;
    }

    .hidden-on-desktop {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #c7fafa;
        border: 0.1em solid lightgray;
        height: 50px;
        width: 336px;
        margin-left: 2px;
    }

    body>div>a {
        text-decoration: none;
        color: black;
    }

    div>img {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 339px;
        height: 224px;
        margin-left: 1.5px;
    }

    .sub-section {
        font-style: italic;
    }

    footer>p {
        text-align: start;
    }

}