body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

:root {
    --main-bg-blue: #6998f3;
    --main-bg-green: #89e789;
    --main-bg-yellow: #eeee52;
    --main-bg-red: #ec7e7e;
    opacity: 60%;
}

.message {
    border: 1px solid lightgray;
    border-radius: .5em;
    max-width: 75%;
    padding: .75em;
    margin: .5em auto;
}

.message-info {
    color: darkblue;
    background-color: var(--main-bg-blue);
}

.message-success {
    color: darkgreen;
    background-color: var(--main-bg-green);
}

.message-warning {
    color: brown;
    background-color: var(--main-bg-yellow);
}

.message-error {
    color: darkred;
    background-color: var(--main-bg-red);
}

